# Configuration de la base de données
DB_USER=DB_USER
DB_PASS=DB_PASS
DB_NAME=DB_NAME

# Configuration de grafana (override les variables plus securiser)
GF_SECURITY_ADMIN_USER=USER
GF_SECURITY_ADMIN_PASSWORD=PASS
GF_AUTH_ANONYMOUS_ENABLED=false

# Configuration pour postgres-exporter
DATA_SOURCE_URI="localhost:5432/postgres?sslmode=disable"
