*.env
env
keys/*

.DS_Store
.env
DEVOPS_ROADMAP.MD
nginx/certs/*
waf/certs/*

tr.subject.pdf

/generated/prisma
/backend/node_modules

vault-stack/vault/keys/keys.json
vault-stack/vault/keys/root_keys.json

Reste.md

vault-stack/vault_keys/*
