* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "policePS3";
	src: url("/WebslingerBold-z8eEX.ttf");
}

@font-face {
	font-family: "policeConthrax";
	src: url("/Conthrax-SemiBold.otf")
}

.texte {
	font-family: "policeConthrax", sans-serif;
	color: #e7e7e7;
	font-size: clamp(14px, 1.4vw, 18px);
}
