.friends-page {
	min-height: 100vh;
	background-color: black;
	padding-top: 90px;
}

.friends-content {
	width: 100%;
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 40px;
}