.emailMessage {
	color: #e7e7e7;
	text-align: center;
	padding-bottom: 15px;
}

.passwordMessage {
	color: #e7e7e7;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
}

.emailArea {
	height: 30px;
	width: 300px;
	font-size: 17px;
	margin-top: 10px;

}

.passwordArea {
	height: 30px;
	width: 300px;
	font-size: 17px;
	margin-top: 10px;
}

.submitButton {
	height: 35px;
	width: 100px;
	font-size: 17px;
	margin-top: 20px;
}

.formBackground {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 30px;
	padding: 25px;
	width: fit-content;
	position: relative;
	z-index: 1;
	text-align: center;
}

